<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="icontent">

  <div class="icontent-middle" *ngFor="let word of words; let i = index" >
    <ion-card class="icard" text-wrap [ngClass]="'icard-border' + word.levelId">
      <!-- ///////////////////////////////////////////////////////////////////// -->
      <div (click)="word.flag1 = false" >
        <ion-row class="icard-header">
          <ion-col align-self-center text-center>
            {{word.que}}
          </ion-col>
        </ion-row>

        <ion-row class="icard-body1">
          <ion-col *ngIf="word.flag1 == true" align-self-center text-center [ngClass]="word.me6">
            {{word.me3}}
          </ion-col>
        </ion-row>
      </div>
      <ion-row class="icard-body2">
        <ion-col align-self-center text-center>
          <button ion-button outline block color="gray" (click)="clickAnswer(word.me1, word)" >
            {{word.me1}}
          </button>
        </ion-col>
      </ion-row>
      <ion-row class="icard-body2">
        <ion-col align-self-center text-center>
          <button ion-button outline block color="gray" (click)="clickAnswer(word.me2, word)" >
            {{word.me2}}
          </button>
        </ion-col>
      </ion-row>
      <ion-row class="icard-body3">
        <br>
      </ion-row>
      <!-- ///////////////////////////////////////////////////////////////////// -->
      <ion-row class="icard-footer">
        <ion-col col-20 class="footer-up" align-self-center text-center>
          <button ion-button color="gray" clear small icon-start (click)="clickThumbs(word, 1)">
            <ion-icon name='thumbs-up'></ion-icon>
          </button>
        </ion-col>
        <ion-col col-60 class="footer-desc-col" align-self-center text-center>
          <ion-note class="footer-desc-note">
            <ion-icon name='warning' class="cursor" (click)="requestModification(word)" >
            </ion-icon> &nbsp;{{word.lectureName}} - {{word.num}}
          </ion-note>
        </ion-col>
        <ion-col col-20 class="footer-down" align-self-center text-center>
          <button ion-button color="gray" clear small icon-start (click)="clickThumbs(word, -1)">
            <ion-icon name='thumbs-down'></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

</ion-content>