page-wordMng {
    .icontent {

        .drop-btn {
            background-color: map-get($colors, content-bg);
        }

        .ilist {
            margin-bottom: 0px;

            .iheader {
                .refresh-btn {
                    margin: 0px;
                    button {
                        color: black;
                    }
                }
            }

            .iitem {

                .inote {
                }
            }
        }
    }
}
