page-wordTest {
    .add-navi-gird {
        padding: 0 0 0 21px; 
        height: 44px; 
        background-color: map-get($colors, content-bg);

        ion-row {
            ion-col {
                padding: 0px;
            }
        }
    }

    .icontent {

        .ilist {

            .iheader {

                ion-note {
                    color: map-get($colors, list-header);
                }
            }
            
            .ilist-item {
                background-color: white;
            }

            .cb-all {
                max-height: 44px;

                ion-checkbox {
                    padding-top: 14px;
                    padding-bottom: 14px;
                }
            }
        }
    }

    .margin-100 {
        .fixed-content {margin-top: 100px !important;}
        .scroll-content {margin-top: 100px !important;}
    }
}
