<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>

    <ion-buttons end (click)="settingQue()">
      <button ion-button icon-only>
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="icontent">

  <div class="icontent-middle" *ngFor="let word of words; let i = index" >
    <ion-card class="icard" text-wrap [ngClass]="'icard-border' + word.levelId">
      <!-- ///////////////////////////////////////////////////////////////////// -->
      <div *ngIf="word.flag1 == false" (click)="word.flag1 = true">
        <ion-row class="icard-que">
          <ion-col align-self-center text-center>
            <ion-label class="que-cc">{{word.que}}</ion-label>
            <ng-container *ngIf="queFlag == true">
              <ion-label class="que-me">{{word.me1}}</ion-label>
            </ng-container>
          </ion-col>
        </ion-row>
      </div>
      <!-- ///////////////////////////////////////////////////////////////////// -->
      <div *ngIf="word.flag1 == true" (click)="word.flag1 = false">
        <ion-row class="icard-header">
          <ion-col align-self-center text-center>
            {{word.que}} ({{word.me1}})
          </ion-col>
        </ion-row>

        <ion-row class="icard-ccme">
          <ion-card-content align-self-center>
            <ion-label>
              {{word.me2}}
              <ng-container *ngIf="word.me3 != null">, </ng-container>{{word.me3}}
              <ng-container *ngIf="word.me4 != null">, </ng-container>{{word.me4}}
              <ng-container *ngIf="word.me5 != null">, </ng-container>{{word.me5}}
              <ng-container *ngIf="word.me6 != null">, </ng-container>{{word.me6}}
              <ng-container *ngIf="word.me7 != null">, </ng-container>{{word.me7}}
            </ion-label>
          </ion-card-content>
        </ion-row>

        <ion-row class="icard-me">
          <ion-card-content align-self-center>
            <ion-label>{{word.me8}}</ion-label>
          </ion-card-content>
        </ion-row>

        <ion-row class="icard-ex">
          <ion-card-content align-self-center>
            <ng-container *ngIf="word.me9 != null">
              <ion-label><img src="assets/imgs/icon_synonym.png" />{{word.me9}}</ion-label>
            </ng-container>
            <ng-container *ngIf="word.me10 != null">
              <ion-label><img src="assets/imgs/icon_antonym.png" />{{word.me10}}</ion-label>
            </ng-container>
          </ion-card-content>
        </ion-row>
      </div>
      <!-- ///////////////////////////////////////////////////////////////////// -->
      <ion-row class="icard-footer">
        <ion-col col-20 class="footer-up" align-self-center text-center>
          <button ion-button color="gray" clear small icon-start (click)="clickThumbs(word, 1)">
            <ion-icon name='thumbs-up'></ion-icon>
          </button>
        </ion-col>
        <ion-col col-60 class="footer-desc-col" align-self-center text-center>
          <ion-note class="footer-desc-note">
            <ion-icon name='warning' class="cursor" (click)="requestModification(word)" >
            </ion-icon> &nbsp;{{word.lectureName}} - {{word.num}}
          </ion-note>
        </ion-col>
        <ion-col col-20 class="footer-down" align-self-center text-center>
          <button ion-button color="gray" clear small icon-start (click)="clickThumbs(word, -1)">
            <ion-icon name='thumbs-down'></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

</ion-content>