page-request {
    
        .icontent {
            
            ion-item {
                padding: 10px;
                height: 50%;

                ion-textarea {
                    height: 100%;

                    textarea {
                        height: 100%;
                    }
                }
            }
        }
    }
    